﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
    <h3>Schedule of Events - Saturday, June 28, 2014</h3>
    <table>
        <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Location</th>
        </tr>
         <tr>
            <td>1:45pm</td>
            <td>Seating for ceremony</td>
            <td>Holy Wisdom Monastery</td>
        </tr>
        <tr>
            <td>2:30pm</td>
            <td>Ceremony</td>
             <td>Holy Wisdom Monastery</td>
        </tr>
        <tr>
            <td>4:00pm</td>
            <td>Cocktail hour</td>
            <td>Memorial Union</td>
        </tr>
        <tr>
            <td>5:30pm</td>
            <td>Grand march, speeches, toasts</td>
             <td>Memorial Union</td>
        </tr>
        <tr>
            <td>6:00pm</td>
            <td>Dinner is served</td>
            <td>Memorial Union</td>
        </tr>
        <tr>
            <td>7:15pm</td>
            <td>Cake cutting</td>
            <td>Memorial Union</td>
        </tr>
        <tr>
            <td>7:30pm</td>
            <td>Feature dances</td>
            <td>Memorial Union</td>
        </tr>
        <tr>
            <td>7:50pm</td>
            <td>Everyone dance!</td>
            <td>Memorial Union</td>
        </tr>
        <tr>
            <td>11:30pm</td>
            <td>Last call</td>
            <td>Memorial Union</td>
        </tr>
        <tr>
            <td>12:00am</td>
            <td>Dance floor closes</td>
            <td>Memorial Union</td>
        </tr>
    </table>
    <br />
    <p>
    <strong>Schedule is subject to change</strong> - check back for updates.<br />
    We can't wait to see you for the big day!
    </p>
</article>