﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
    <p>
        <img src="~/Images/MemorialUnion.jpg" />
    </p>

    <h4>Reception will be held at:</h4>

    <p>
        Memorial Union - Great Hall, 4th floor<br />
        800 Langdon St.<br />
        Madison, WI 53715
    </p>

    <h4>Cocktail hour:</h4>
    <p>
        4:00pm - 5:30pm
    </p>
    <h4>Grand march: </h4>
    <p>
        5:30pm
    </p>

    <h4>Dinner served: </h4>
    <p>
        6:00pm
    </p>

    <h4>Feature dances: </h4>
    <p>
        7:30pm
    </p>

    <h4>Dance floor closes:</h4>
    <p>
        12:00am
    </p>

    <h4>Parking information:</h4>

    <p>
        Parking on Langdon St. near Memorial Union is very limited.<br />
        It is advised you use the nearby Lake St. parking ramp, located off of University Ave.<br />
        It is a short three block walk from the ramp to Memorial Union (see map below)!<br />
        Those in need of handicap-accessible parking will find metered spaces in the Memorial Union parking lot.
    </p>

    <h4>Construction information:</h4>

    <p>
        Memorial Union and its surrounding areas are in the middle of an ongoing renovation.<br />
        This may affect parking and travel around the Union.<br />
        Please visit this website for the latest construction info: <a href="http://unionreinvestment.wisc.edu/">http://unionreinvestment.wisc.edu/</a>
    </p>

    <h4>Additional information:</h4>
    <p>
        Website: <a href="http://www.union.wisc.edu/visit-memorialunion.htm">http://www.union.wisc.edu/visit-memorialunion.htm</a>
    </p>

   
    <h4>Map:</h4>

    <p>
        <div>
<div><iframe width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=43.074875~-89.399121&lvl=16&w=500&h=400&sty=r&typ=d&pp=Memorial%20Union%2C%20WI~~43.076252~-89.400055&ps=&dir=0&mkt=en-us&src=SHELL&form=BMEMJS"></iframe><div style="margin: 12px 0 0 0;"><a target="_blank" href="http://www.bing.com/maps/?cp=43.074875~-89.399121&sty=r&lvl=16&where1=Memorial Union, WI&mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=43.074875~-89.399121&sty=r&lvl=16&rtp=~pos.43.076252_-89.400055_Memorial%20Union%2C%20WI_&mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=r5cf407jgzw8&sty=b&lvl=18&where1=Memorial Union, WI&mm_embed=be">View Bird's Eye</a></div></div>
    </p>
</article>