﻿
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.SubTitle</h2>
            </hgroup>
            <p>
                <img src="~/Images/AnnaAndChrisBanner.png" />
            </p>
        </div>
    </section>
}
<h3>Welcome to Christopher and Anna's wedding website!  Please have a look around; its much bigger on the inside!</h3>
<ol class="round">
    <li class="one">
        <h5>Need to RSVP?<br />
            Go over to the  @Html.ActionLink("RSVP", "Index", "RSVP") page and submit your RSVP.</h5>
        <strong>Please RSVP by June 1, 2014.</strong>
    </li>
    <li class="two">
        <h5>Don't know who we are?<br />
            Read @Html.ActionLink("about us", "Index", "About"), view our @Html.ActionLink("engagement photos", "Index", "EngagementPhotos"), and learn about our wedding's @Html.ActionLink("Doctor Who theme", "Index", "DoctorWho")</h5>
        Helpful information to get your timey-wimey journey started!
    </li>

    <li class="three">
        <h5>Don't know where you're going?<br />  
            Find out about the @Html.ActionLink("ceremony", "Index", "Ceremony") and the @Html.ActionLink("reception", "Index", "Reception") sites</h5>
        Including parking information and handy maps!
    </li>

    <li class="four">
        <h5>Don't know what to do?  <br />
            View the full wedding day @Html.ActionLink("schedule", "Index", "Schedule") or discover @Html.ActionLink("Madison-area lodging information and more", "Index", "GuestInformation")</h5>
        If you are curious about how things are going down on the big day, or want to make a weekend of it in Madison, we have a complete schedule for you, as well as some of our personal recommendations for Madison-area hotels, dining, and activities.

     <li class="five">
        <h5>Don't know what to bring?  <br />
            View the @Html.ActionLink("gift registry", "Index", "Registry") page</h5>
        While the wedding is taking place in Madison, Wisconsin, we make our home in Redmond, Washington.  Because of this, we have created a unique registry through Honeyfund.  If you are unfamiliar with this type of registry, this page will help you understand why we chose it and how it works!  
    </li>
</ol>
