﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
    <p>
       Christopher and Anna are big fans of the British television series Doctor Who.<br />
       It is a story of love, devotion, friendship, intergalactic time travel, and space monsters, which, of course, makes it the perfect backing theme for the couple's wedding.  Gallifreyan writing, galaxies of stars, the TARDIS, and other Whovian delights will abound!  Don't worry if you're not a seasoned time-traveler; the couple will make sure you are well-equipped to have fun and enjoy the celebration.
    </p>
    
    <p>
        For those unfamiliar with the series, this video provides an excellent overview:<br /><br />

        <iframe width="560" height="315" src="http://www.youtube.com/embed/rrSaTHsHNsc?rel=0" allowfullscreen="true"></iframe>
    </p>

    <p>

        If you are a Netflix subscriber, episodes from both the "classic" series (1964-1989) and the "modern" series (2005-2011) are available to watch via instant streaming! <br />

        <a href="http://movies.netflix.com/WiMovie/Classic_Doctor_Who/70231692">Netflix - Classic Doctor Who</a><br />
        <a href="http://movies.netflix.com/WiMovie/Doctor_Who/70142441">Netflix - Modern Doctor Who</a>

    </p>
</article>