﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
    Anna and Christopher have two unique online reigstries!

    <ol class="round">
        <li class="one">
            <h2><a href="http://www.honeyfund.com/wedding/wilcoxpiechowski">Honeyfund</a></h2>
            <p>
                Since their wedding location is almost 2000 miles away from their home in Redmond, Washington, Christopher and Anna have chosen Honeyfund for their primary registry!<br />
                Registries like Honeyfund allow guests to contribute to very special, non-material gifts, such as travel experiences, for the couple, helping them to afford an amazing honeymoon.  This will also prevent Christopher and Anna from potentially losing or damaging physical gifts in shipment, as well as keep shipping expenses down!<br />
                Christopher and Anna have planned the following for their honeymoon:
            </p>

            <h5>Trip to the United Kingdom/Great Britain for a MotoGP race</h5>
            Christopher and Anna are avid viewers of the the FIM Motorcycle Grand Prix (or MotoGP for short), and neither of them have ever had the chance to go overseas.  Thus, they are planning for an unforgettable European honeymoon in the summer of 2015 that will include several days exploring London and the neraby sights, and closing with a VIP experience at a MotoGP race at the Silverstone Circuit. 
    <h3><a href="http://www.honeyfund.com/wedding/wilcoxpiechowski">Click here to view Christopher and Anna's Honeyfund registry!</a></h3>
        </li>

        <li class="two">
            <h2><a href="http://www.amazon.com/registry/wedding/14FH9PRRMC5HT">Amazon</a></h2>
            <p>
                The couple have also registered for some physical gifts at Amazon.com, such as glassware, kitchen gear, bathroom accessories, and board games. 
            <br />
                The wonderful thing about Amazon is that it offers guests the ability to ship gifts directly to the couple!  Christopher and Anna would prefer you choose this option, so they can avoid the costs and hazards of shipping gifts back from Wisconsin. 
            <br />
                They will even stash your gift and open it after the wedding, if you prefer!  (Unless it is puppy, then they will have to open it.  P.S. Do not buy them a puppy.)
            </p>
            <h3><a href="http://www.amazon.com/registry/wedding/14FH9PRRMC5HT">Click here to view Christopher and Anna's Amazon registry!</a></h3>
        </li>
    </ol>
</article>