﻿<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
	<h2>@ViewBag.SubTitle</h2>

        <p>
        Photos from: A Moment's Focus Photography - by M. Asplund - Kirkland, WA: <a href="http://www.amomentsfocusphotography.com/">amomentsfocusphotography.com</a>
        </p>
		<article>	
<!--START SIMPLEVIEWER EMBED.-->
<script type="text/javascript" src="~/Images/AMomentsFocus/svcore/js/simpleviewer.js"></script>
<script type="text/javascript">
    var flashvarsAMF = {};
    flashvarsAMF.galleryUrl = "/Images/AMomentsFocus/gallery.xml";
    simpleviewer.ready(function () {
        simpleviewer.load("sv-container", "100%", "475", "000000", true, flashvarsAMF);
    });
</script>
<div id="sv-container"></div>
	<p>

		Photos from: Steve Bowman Photography - Hartland, WI: <a href="http://www.stevebowmanphotography.com/">stevebowmanphotography.com</a>

	</p>
	<!--START SIMPLEVIEWER EMBED.-->
<script type="text/javascript" src="~/Images/SteveBowman/svcore/js/simpleviewer.js"></script>
<script type="text/javascript">
	var flashvarsSB = {};
	flashvarsSB.galleryUrl = "/Images/SteveBowman/gallery.xml";
	simpleviewer.ready(function () {
		simpleviewer.load("sv-container2", "100%", "475", "000000", true, flashvarsSB);
	});
</script>
<div id="sv-container2"></div>