﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
        <p>
            <img src="~/Images/Madison.jpg" />
        </p>

        <h2>Invitation</h2>
        <p>
            <a href="~/Content/WeddingInvitation.pdf">Click here to view a digital version of your invitation</a>
        </p>
        
        <h2>Hotels</h2>
        <p>
            <strong>Please note: no rooms have been "blocked" or pre-reserved.</strong>
        </p>
        <p>
        There are lots of great hotel choices in the downtown Madison area!<br />
        Most are within walking distance of the reception site. <br /><br />
        The couple recommend the following downtown/campus hotels<br />
        (included is their <strong>walking</strong> distance from Memorial Union):
        </p>
        <div style ="margin-left: 25px">
            <a href="http://doubletree3.hilton.com/en/hotels/wisconsin/doubletree-by-hilton-hotel-madison-MSNDTDT/index.html">Double Tree (0.5 mi)</a><br />
            <a href="http://hamptoninn3.hilton.com/en/hotels/wisconsin/hampton-inn-and-suites-madison-downtown-MSNBJHX/index.html">Hampton Inn & Suites (0.5 mi)</a><br />
            <a href="http://www.madisondowntown.place.hyatt.com/en/hotel/home.html">Hyatt Place (0.7 mi)</a><br />
            <a href="http://concoursehotel.com/">Madison Concourse Hotel (0.7 mi)</a><br />
            <a href="http://www.union.wisc.edu/wuhotel.htm">Wisconsin Union Hotel (0.7 mi)</a><br />
            <a href="http://www.innonthepark.net/">Best Western Inn on the Park (0.9 mi)</a><br />
            <a href="http://www.hotelred.com/">Hotel RED (1.0 mi)</a><br />
            <a href="http://www.hiltonmadison.com/">Madison Hilton Monona Terrace (1.2 mi)</a><br />
        </div>
        <p>
            Additionally, there are many hotels available outside of the downtown area.<br />
            Please use Expedia to find one you like!
        </p>
        <div style ="margin-left: 25px">
            <a href="http://www.expedia.com/Hotel-Search?#&destination=Madison (and vicinity), Wisconsin, United States of America&startDate=06/28/2014&endDate=06/29/2014&regionId=602704&adults=2">EXPEDIA: Madison-area hotels</a><br />
        </div>
        
        <p>
            If you stay outside of the downtown area, please keep your transportation needs in mind.<br />
            <strong>Please do not drink and drive.</strong>
        </p>
        
        <h2>Transportation</h2>
        <p>
            If you need a lift to the ceremony, reception, or your hotel, Madison has several great cab companies:
        </p>
            <div style ="margin-left: 25px">
            <a href="http://www.unioncab.coop/">Union Cab</a><br />
                <strong>608-242-2000</strong><br /><br />
            
            <a href="http://www.greencabofmadison.com/">Green Cab</a><br />
                <strong>608-255-1234</strong><br /><br />

            <a href="http://www.badgercab.com/index.php">Badger Cab</a><br />
                <strong>608-256-5566</strong><br /><br />

             <a href="http://www.madtaxi.com/">Madison Taxi</a><br />
                <strong>608-255-8294</strong><br />
        </div>
    
        <h2>Restaurants</h2>
        <p>
        If you find yourelf needing a meal in or around Madison, here are a few of Chris and Anna's favorite places:
         </p>
        <div style="margin-left: 25px">
            <h3>Breakfast</h3>
            <a href="http://www.marigoldkitchen.com/">Marigold Kitchen</a><br />
            <a href="http://www.sunroomcafe.com/Pages/default.aspx">Sunroom Cafe</a><br />
            <a href="http://www.yelp.com/biz/mickies-dairy-bar-madison">Mickie's Dairy Bar (cash only)</a><br />
            <a href="http://www.indiecoffee.net/menu.html">Indie Coffee</a><br />

            <h3>Lunch/Dinner/Pie</h3>
            <a href="http://www.miazas.com/madison">Mia Za's (pasta, pizza, sandwiches)</a><br />
            <a href="http://www.hubbardavenuediner.com/">Hubbard Avenue Diner (contemporary comfort food, delicious pies)</a><br />
            <a href="http://www.yelp.com/biz/mediterranean-cafe-madison">Mediterranean Cafe (Mediterranean - cash only)</a><br />
            <a href="http://www.dluxmadison.com/">DLUX (gourmet burgers)</a><br />
            <a href="http://kabulmadison.com/">Kabul (Afghani and Mediterranean)</a><br />
            <a href="http://www.casadelara.net/">Casa de Lara (Mexican)</a><br />
            <a href="http://www.bluephies.com/">Bluephies (contemporary American)</a><br />
        </div>

        <h2>Activities</h2>
        <p>
        If you're making a full weekend of it in Madison, here are some fun things to see and do - many are free!
        </p>
        <div style="margin-left: 25px">
            <a href="http://www.mmoca.org/">Madison Museum of Contemporary Art</a><br />
            <a href="http://www.chazen.wisc.edu/">Chazen Museum of Art</a><br />
            <a href="http://vilaszoo.org/index.php">Henry Vilas Zoo</a><br />
            <a href="http://dcfm.org/">Dane County Farmer's Market (Saturday morning)</a><br />
            <a href="http://www.wisconsin.gov/state/core/wisconsin_state_capitol_tour.html">Capitol Building Tours</a><br />
            <a href="http://www.madisonchildrensmuseum.org/">Madison Children's Museum</a><br />
        </div>
</article>