﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
    <p>
        <img src="~/Images/HolyWisdomMonastery2.jpg" />
    </p>

    
    <h4>Ceremony will be held at:</h4>
 

    <p>
        Holy Wisdom Monastery<br />
        4200 County Road M<br />
        Middleton, WI 53562<br />
    </p>

    <h4>Seating begins: </h4>
    <p>
        1:45pm
    </p>

    <h4>Ceremony begins: </h4>
    <p>
        2:30pm
    </p>

    <h4>Additional information:</h4>
    <p>
        Ceremony will be held outdoors, weather permitting, so please plan accordingly!<br />
        In the event of rain, an indoor location will be used.
    </p>

    <p>
        Website: <a href="http://benedictinewomen.org/">http://benedictinewomen.org</a>
    </p>

  
    <h4>Map:</h4>

      <p>
        <div>
            <iframe width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=43.120562~-89.453749&lvl=15&w=500&h=400&sty=r&typ=d&pp=Holy%20Wisdom%20Monastery%2C%20WI~~43.120562~-89.453749&ps=&dir=0&mkt=en-us&src=SHELL&form=BMEMJS"></iframe>
            <div style="margin: 12px 0 0 0;"><a target="_blank" href="http://www.bing.com/maps/?cp=43.120971~-89.454374&sty=r&lvl=15&sp=&mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=43.120971~-89.454374&sty=r&lvl=15&rtp=~pos.43.120971_-89.454374____&mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=r5m4c27jbxnr&sty=b&lvl=18&sp=&mm_embed=be">View Bird's Eye</a></div>
        </div>
    </p>
</article>