﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>
<article>

    <h1>Confirm Invitation</h1>


    @using (Html.BeginForm("GuestsConfirmed", "RSVP", FormMethod.Post))
    {
        Write(Html.Hidden("GuestCount", (object)Model.invitation.Guests.Count));
        Write(Html.Hidden("PartitionKey", (object)Model.invitation.Guests[0].PartitionKey));

        for (int i = 0; i < Model.invitation.Guests.Count; i++)
        {
            var p = Model.invitation.Guests[i];

            // setup dinner choices and choose selected
            var dinnerChoices = new List<SelectListItem>();
            dinnerChoices.Add(new SelectListItem() { Text = "Turkey Dinner", Value = "Turkey Dinner", Selected = p.DinnerChoice == "Turkey Dinner" });
            dinnerChoices.Add(new SelectListItem() { Text = "Pork Medallions", Value = "Pork Medallions", Selected = p.DinnerChoice == "Pork Medallions" });
            dinnerChoices.Add(new SelectListItem() { Text = "Mushroom Ravioli (Vegetarian)", Value = "Mushroom Ravioli", Selected = p.DinnerChoice == "Mushroom Ravioli" });
            
            // if the user is a guest let them change their name.  Make it an editable field
            if (p.Guest == true)
            {
                Write(Html.Raw(string.Format(@"<div class=""item"">
                    <h2>Guest</h2>
                    <h3>First Name: {0}</h3>
                    <h3>Last Name: {1}</h3>                
                    <h3>Dinner Choice: {2}</h3>
                    <h3>Song Request: {3}</h3>
                    <h3>Attending Ceremony (Fantastic!): {5}</h3>
                    <h3>Attending Dinner (Allons-y!): {6}</h3>
                    <h3>Attending Reception (Geronimo!): {7}</h3>
                    {4}",
                    Html.TextBox(i + "-FirstName", (object)p.FirstName),
                    Html.TextBox(i + "-LastName", (object)p.LastName),
                    Html.DropDownList(i + "-DinnerChoice", dinnerChoices),
                    Html.TextBox(i + "-SongChoice", (object)p.SongChoice),
                    Html.Hidden(i + "-Guest", (object)p.Guest),
                    Html.CheckBox(i+"-AttendingCeremony", (bool)p.AttendingCeremony),
                    Html.CheckBox(i + "-AttendingDinner", (bool)p.AttendingDinner),
                    Html.CheckBox(i + "-AttendingReception", (bool)p.AttendingReception))));
            }
            else
            {
                Write(Html.Raw(string.Format(@"<div class=""item"">
                    {0}
                    {1}
                    <h2>{2} {3}</h2>
                    <h3>Dinner Choice: {4}</h3>
                    <h3>Song Request: {5}</h3>
                    <h3>Attending Ceremony (Fantastic!): {7}</h3>
                    <h3>Attending Dinner (Allons-y!): {8}</h3>
                    <h3>Attending Reception (Geronimo!): {9}</h3>
                    {6}",
                    Html.Hidden(i + "-FirstName", (object)p.FirstName),
                    Html.Hidden(i + "-LastName", (object)p.LastName),
                    p.FirstName,
                    p.LastName,
                    Html.DropDownList(i + "-DinnerChoice", dinnerChoices),
                    Html.TextBox(i + "-SongChoice"),
                    Html.Hidden(i + "-Guest", (object)p.Guest),
                    Html.CheckBox(i + "-AttendingCeremony", (bool)p.AttendingCeremony),
                    Html.CheckBox(i + "-AttendingDinner", (bool)p.AttendingDinner),
                    Html.CheckBox(i + "-AttendingReception", (bool)p.AttendingReception))));
            }
        }
    }

    <input type="submit" value="Submit your confirmation" id="submitButton" />
</article>
