﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>
<article>
    <h2>Thanks to everyone who has RSVP'd to our wedding.  We hope to see you all on June 28th, 2014.</h2>
    <h2>If you did not RSVP yet you can still attend the reception.  The first dance will be at 7:30 PM.  
        Please email us at weddingrsvp@apiechowski.com if you would like to do this.</h2>
    
    <!--
    <h2>Please complete your RSVP By June 01, 2014</h2>
    <p>RSVPs received after June 01 cannot be guaranteed their meal choice.</p>
    @{Html.BeginForm("FindGuest", "RSVP", FormMethod.Post);}
    <ol class="round">
        <li class="one">
            <h5>Enter your LAST name as it appears on your invitation. Capitalization is important.</h5>
            @Html.TextBox("LastName")
        </li>

        <li class="two">
            <h5>Enter your FIRST name as it appears on your invitation. Capitalization is important.</h5>
            @Html.TextBox("FirstName")
        </li>

        <li class="three">
            <h5>Now click the big button!</h5>
            <input type="submit" Value="Big Bad Button" id="submitButton"/>
        </li>
    </ol>
    @{Html.EndForm();}
        -->
</article>