﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>
<article>

    <h1>Are you attending?</h1>

    @using (Html.BeginForm("GuestAttending", "RSVP", FormMethod.Post))
    {
        Write(Html.Hidden("FirstName", (object)Model.invitation.Guests[0].FirstName));
        Write(Html.Hidden("LastName", (object)Model.invitation.Guests[0].LastName));
       
        <input type="submit" value="Yes" id="submitButtonYes" />
    }

    @using (Html.BeginForm("GuestNotAttending", "RSVP", FormMethod.Post))
    {
        Write(Html.Hidden("FirstName", (object)Model.invitation.Guests[0].FirstName));
        Write(Html.Hidden("LastName", (object)Model.invitation.Guests[0].LastName));

        <input type="submit" value="No" id="submitButtonNo" />
    }

</article>
