﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>
<article>

    <h2>Thanks for confirming the following...</h2>

    @for (int i = 0; i < Model.invitation.Guests.Count; i++)
    {
        var p = Model.invitation.Guests[i];

        // if the guest has a name we will print the confirmation
        if (!string.IsNullOrWhiteSpace(p.FirstName) || !string.IsNullOrWhiteSpace(p.LastName))
        {
        <div class="item">
            <h2>@p.FirstName @p.LastName</h2>
            <h3>Dinner Choice: @p.DinnerChoice</h3>
            <h3>Song Choice: @p.SongChoice</h3>
            <h3>Attending Ceremony: @p.AttendingCeremony</h3>
            <h3>Attending Dinner: @p.AttendingDinner</h3>
            <h3>Attending Reception: @p.AttendingReception</h3>
        </div>
        
        }
    }

    <h2>If this is incorrect, please email us at weddingrsvp@apiechowski.com</h2>
    <h2>We look forward to seeing you on the big day!</h2>
</article>
