﻿<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.SubTitle</h2>
</hgroup>

<article>
    <div>
        <div style="width: 470px; float: left; padding-right: 20px;">
            <img src="~/Images/Anna2.jpg" />
        </div>
        <div style="margin-left: 470px; width: 470px;">
            <h1>Anna</h1>
           <p> Anna grew up in Redgranite, Wisconsin, a town with one thousand people and one stoplight (stoplight added in the late 1990s), the daughter of the awesome, hard-working team of Richard (Mort) and Loretta Piechowski.  After graduating high school, Anna moved away from Redgranite for the first time to live and attend school at the University of Wisconsin-Madison.  She loved Madison so much that she spent seven years going to school there, earning a Bachelor of Arts in Gender and Women's Studies and Communication Arts, as well as a Master of Arts in Gender and Women's Studies.  Following completion of her Master's degree, Christopher whisked Anna away on a cross-country trip to Redmond, Washington in early 2012.  She is currently working toward a second Bachelor's degree in Computer Science, with hopes of getting a job at one of the many technology-centered businesses in the Seattle area.  Anna also works as a technical writing intern at Predixion Software in Redmond, where she fights for the users.</p>
        </div>
    </div>

    <div style="padding-top: 40px;">
        <div style="width: 470px; float: left; padding-right: 20px;">
            <h1>Christopher</h1>
            <p>Christopher grew up in lots of different places in Wisconsin, including Jackson, Slinger, Hartford, Ripon, and Wautoma.  His dedicated parenting team consists of Michael Wilcox, and Brenda and Gary Osiecki.  He worked his butt off at the University of Wisconsin-Madison for four-and-a-half years to earn a Bachelor of Science degree in both Computer Engineering and Computer Science.  After two summer internships with Microsoft in Redmond, Washington, Chris accepted an offer for a full-time position.  After graduating, he drove with his fianceé across the country in early 2012, where he began work as a rockstar software development engineer in test (SDET) in Microsoft's Developer Division on a product called Visual Studio.  In the spring of 2013, he moved to the Azure group, where he continues to kick ass and take names by keeping the cloud in the sky, where it belongs.</p>
        </div>
        <div style="margin-left: 470px; width: 470px;">
            <img src="~/Images/Chris1.jpg" />
        </div>
    </div>


    <div style="padding-top: 40px;">
        <div style="width: 470px; float: left; padding-right: 20px;">
            <img src="~/Images/AnnaAndChris1.jpg" height="376" width="470" />
        </div>
        <div style="margin-left: 470px; width: 470px;">
            <h1>Christopher & Anna</h1>
            <p>Christopher and Anna were acquaintances in high school, but maintained different social circles.  When Christopher began attending the University of Wisconsin, he and Anna got back in touch.  After one lunch date (Za's) and one date over Guitar Hero and beer (Spotted Cow), Chris came in for the smooch, and the rest is history.  Together since September 12, 2007, Chris and Anna have been on numerous adventures, including travels to Walt Disney World, Yellowstone National Park, Vancouver, B.C., the Rose Bowl in Pasadena, and Cleveland, Ohio.  In their spare time they like to ride their motorcycles, bicycle around Redmond and Seattle's many bike paths, go hiking in the mountains, play Halo, search for the best cheeseburger in Seattle, cuddle their awesome cat (Snowball II), and, of course, watch Doctor Who.</p>

            <p>Christopher and Anna look forward to continuing their wibbly-wobbly, timey-wimey adventures as husband and wife from now until the Cybermen take over.</p>
        </div>
    </div>

</article>