﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Christopher Wilcox's & Anna Piechowski's Wedding</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Images/GallifreyanBannerWithText1.png"/></p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu1">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About Us", "Index", "About")</li>
                            <li>@Html.ActionLink("Ceremony", "Index", "Ceremony")</li>
                            <li>@Html.ActionLink("Reception", "Index", "Reception")</li>
                            <li>@Html.ActionLink("Engagement Photos", "Index", "EngagementPhotos")</li>
                        </ul>
                        <ul id="menu2">
                            <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
                            <li>@Html.ActionLink("Guest Information", "Index", "GuestInformation")</li>
                            <li>@Html.ActionLink("Registry", "Index", "Registry")</li>
                            <li>@Html.ActionLink("Doctor WHO?", "Index", "DoctorWho")</li>
                            <li>@Html.ActionLink("RSVP", "Index", "RSVP")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Christopher Wilcox & Anna Piechowski</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
